
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html, body{
  height: 100%;
  width: 100%;
}

.notes{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  
}
.note{
  border-radius: 2rem;
  border: 10px solid white;
  height: 100%;
  width: 300px;
  background-color: #f0f0f0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  color: rgb(229, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.note h2{
  font-size: 20px;
}
.note p{
  font-size: 14px;
}
.note button{
  padding: 10px;
  font-size: 14px;
  width: 100px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}
.note button:hover{
  background-color: #c82333;
}

.note-form{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;

}
.note-form form{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.note-form form input, .note-form form textarea{
  padding: 10px;
  font-size: 14px;
  width: 300px;
  font-size: 50px;
}
.note-form form button{
  padding: 10px;
  font-size: 14px;
  width: 100px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.note-form form button:hover{
  background-color: #0056b3;
} 
