
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html, body{
  height: 100%;
  width: 100%;
}

.notes{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.note{
  height: 100px;
  width: 300px;
  background-color: #f0f0f0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  color: rgb(229, 211, 211);
}